.track {
    background-color: white;
    height: 100px;
    margin-bottom: 16px;
}

.red{background-color: red;
height:100%}

body{background-color: lightgray;}

.card-row-content button{width: 100%; margin-bottom: 5px;}